/* Imports */
@import "normalize.css";
@import "skeleton.css";

/* Header */
.title {
	text-align: center;
	font-family: Montserrat;
	color: #147FD7;
}

/* Formatting */
.center {
    text-align: center;
}
.no-center {
    text-align: left;
}
.twitter-follow-button,
.twitter-share-button { 
	vertical-align: -10px !important;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-Bold.otf');
    font-weight: bold;
    font-style: bold;
}