<!doctype html>

<html lang="en">

<head>
  <title>TweetBankForBernie</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container center" style="margin-top: 3rem; margin-bottom: 3rem">
  <div class="row">
    <div class="four columns offset-by-four">
    	<a href="/"><img src="/static/images/logo.png" style="width:100%"></a>
    </div>
   </div>
   <div class="row">
    <div class="six columns offset-by-three">
  		<a href="/"><h1 class="title"><b>TweetBank for Bernie</b></h1></a>
  	</div>
  </div>
  <div class="row">
    <div class="four columns offset-by-four">
      <a href="https://twitter.com/TweetBank4Bern" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @TweetBank4Bern</a></p>
    </div>
  </div> 
</div>

<div class="container center" style="margin-bottom: 5rem">
  {% block content %}{% endblock %}
</div>

<script>
  window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
   
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
   
    return t;
  }(document, "script", "twitter-wjs"));
  
  twttr.ready(function (twttr) {
    var elements = document.getElementsByClassName("tweet-oembed");
    var options = {"cards": "hidden", "conversation": "none",
                   "theme": "light", "width": 550, "align": "center"}
    for (var idx = 0; idx < elements.length; idx++) {
      twttr.widgets.createTweet(elements[idx].id, elements[idx], options);
    }
  });
</script>

</body>

</html>