{% extends 'base.html' %}

{% block content %}

<div class="container no-center" style="margin-top: 3rem">
  <div class="row">
    <div class="eight columns offset-by-two">
   		<p><b>Important note</b>:  Please use this service responsibly. Be kind to others. Tweet to select friends and avoid spam.</p>
      <p><b>How can I get in touch with you?</b></p>
      <p>Contact us at <a href="email:info@tweetbankforbernie.com">info@tweetbankforbernie.com</a><p>
      <p><b>Are you affiliated with any campaign?</b></p>
      <p>No, we're just volunteering our time and energy for a cause we care about.</p>
      <p><b>Do you collect and store any data about me or my followers?</b></p>
      <p>No!</p>
      <p><b>I don't have a Twitter account. What now?</b></p>
      <p>Go to <a href="https://twitter.com">Twitter</a> and sign up for an account, or visit <a href="http://voteforbernie.org/GOTV">VoteForBernie.org</a> to find other ways to help!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="four columns offset-by-four">
    <p><a href="/">Return to main page</a></p>
  </div>
</div> 

{% endblock %}