{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

	<div class="row no-center" style="margin-bottom: 3rem">
    <div class="eight columns offset-by-two">
  		<p><b>Welcome!</b> You're logged in with <b>Twitter</b> as <b>{{ username }}</b>. <img src="/static/images/twitter.png" style="height: 3rem; vertical-align: -5px"></p>
  	</div>
  </div>

  <div class="row" style="margin-bottom: 3rem">
    <div class="eight columns offset-by-two">
      <p>Share GOTV information with your followers:  <a class="twitter-share-button" href="{{ tweet_activism }}">{{ Tweet }}</a></p>
    </div>
  </div>

  <div class="row" style="margin-bottom: 3rem">
    <div class="eight columns offset-by-two">
      <p>Ask your followers for help TweetBanking:  <a class="twitter-share-button" href="{{ tweet_help }}">{{ Tweet }}</a></p>
    </div>
  </div>

    <div class="row" style="margin-bottom: 3rem">
    <div class="eight columns offset-by-two">
      <p>Ask your followers for help FaceBanking:  <a class="twitter-share-button" href="{{ tweet_face }}">{{ Tweet }}</a></p>
    </div>
  </div>

  {% if tweet_context %}
	 	<div class="row no-center">
	  	<div class="eight columns offset-by-two">
	  		{% if tweet_context|length > 1 %}
	  			<p><b>These are the {{ tweet_context|length }} most-recent tweets from your timeline with pro-Bernie hashtags.</b></p>
	  		{% else %}
	  			<p><b>This is the only most-recent tweet from your timeline with pro-Bernie hashtags.</b></p>
	  		{% endif %}
	  	</div>
	  </div>

	 	{% for tweet in tweet_context %}
	 		<div class="row">
	 			<div class="eight columns offset-by-two"
	 				{% if forloop.counter|divisibleby:2 %}
	 				 	style="background-color: rgb(225, 225, 225);">
	 				{% else %}
	 					style="background-color: rgb(204, 225, 255);">
	 				{% endif %}
	 				<br>
	 				<div id="{{ tweet.0 }}" class="tweet-oembed"></div>
		  		<p>Share voting information with this follower:  <a class="twitter-share-button" href="{{ tweet.1 }}"></a></p>
		  	</div>
		  </div>
		{% endfor %}
		  
	  <div class="row">
	    <div class="eight columns offset-by-two">
	    	<br>
	      <p>Done already?</p>
	      <p>Visit us again later, and ask your followers to help TweetBank for Bernie:  <a class="twitter-share-button" href="{{ tweet_help }}">{{ Tweet }}</a></p>
	    </div>
	  </div>
	{% else %}
		 <div class="row no-center">
	  	<div class="eight columns offset-by-two">
	  		<p><b>Currently, there are no recent tweets on your timeline with pro-Bernie hashtags.</b></p>

	 			<p>Check back in the future to find new tweets on your timeline or new TweetBanking features.</p>
	  	</div>
	  </div>
	{% endif %}

{% else %}

	<div class="row" style="margin-bottom: 5rem">
  	<div class="four columns offset-by-four">
  		{% load socialaccount %}
  		<a href="{% provider_login_url "twitter" %}" class="button button-primary">Log in with Twitter</a>
  	</div>
  </div>

  <div class="row">
    <div class="eight columns offset-by-two">
    	<p><b>Remind your Twitter followers of important voting dates and rules.</b></p>
    </div>
    <div class="six columns offset-by-three no-center">
    	<ul>
    	  <li>Step 1:  Sign in with your Twitter account.</li>
    	  <li>Step 2:  See which of your followers are likely Bernie supporters.</li>
    	  <li>Step 3:  Send pre-generated tweets only to selected followers.</li>
    	</ul>
		</div>
		<div class="eight columns offset-by-two">
    	<p><b>Log in and take a look around!</b></p>
    </div>
	  <div class="four columns offset-by-four">
	    {% load socialaccount %}
  		<p><a href="{% provider_login_url "twitter" %}" class="button button-primary">Log in with Twitter</a></p>
  	</div>
  </div>

{% endif %}

<div class="row" style="margin-top: 3rem">
  <div class="four columns offset-by-four">
    <p><a href="faqs">Frequently asked questions</a></p>
  </div>
</div> 

{% if user.is_authenticated %}
  <div class="row">
  	<div class="four columns offset-by-four">
  		 <a id="logout" href="/accounts/logout" class="button btn btn-success">Logout</a>
  	</div>
  </div>
{% endif %}

{% endblock %}