{% extends 'base_auth.html' %}

{% block tweet_content %}

<div class="row">
  <div class="eight columns offset-by-two">
    <p><b>{{ state }} votes on {{ day_of_week }}! Here is a selection of tweets from nearby {{ state }} with pro-Bernie hashtags.</b></p>
  </div>
</div>
    
{% for tweet in tweet_context %}
  <div class="row">
    <div class="eight columns offset-by-two"
      {% if forloop.counter|divisibleby:2 %}
        style="background-color: rgb(225, 225, 225);">
      {% else %}
        style="background-color: rgb(204, 225, 255);">
      {% endif %}
      <br>
      {{ tweet.0 |safe }}
      <p>Make a new friend by sharing voting information:  <a class="twitter-share-button" href="{{ tweet.1 }}"></a></p>
    </div>
  </div>
{% endfor %}

{% endblock %}