{% extends 'base_auth.html' %}

{% block tweet_content %}

<div class="row">
  <div class="eight columns offset-by-two">
    <p><b>{{ state }} votes on {{ day_of_week }}!</b> Want to share voting information with potential {{ state }} voters? Here are {{ tweet_context |length }} tweets nearby with pro-Bernie hashtags.</p>
  </div>
</div>
    
{% for tweet in tweet_context %}
  <div class="row">
    <div class="eight columns offset-by-two"
      {% if forloop.counter|divisibleby:2 %}
        style="background-color: rgb(225, 225, 225);">
      {% else %}
        style="background-color: rgb(204, 225, 255);">
      {% endif %}
      <br>
      {{ tweet.0 |safe }}
      <p>Make a new friend and sharing voting information:  <a class="twitter-share-button" href="{{ tweet.1 }}"></a></p>
    </div>
  </div>
{% endfor %}

<div class="row" style="margin-top: 2rem">
  <div class="eight columns offset-by-two">
    <p><b>Want to do more TweetBanking in <a href=".">{{ state }}</a>?</b></p>
  </div>
</div>
{% endblock %}