<!doctype html>

<html lang="en">

<head>
  <title>TwitBankForBernie</title>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container center" style="margin-top: 3rem">
  <div class="row">
    <div class="four columns offset-by-four">
    	<a href="/"><img src="/static/images/logo.png" style="width:100%"></a>
    </div>
   </div>
   <div class="row">
    <div class="six columns offset-by-three">
  		<a href="/"><h1 class="title"><b>TwitBank for Bernie</b></h1></a>
  	</div>
  </div>
</div>

<div class="container center">
  {% block content %}{% endblock %}
</div>

<div class="container center" style="margin-top: 3rem">
  <div class="row">
  	<div class="four columns offset-by-four">
  		<a href="https://twitter.com/TwitBank4Bernie" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @TwitBank4Bernie</a></p>
  	</div>
  </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</body>

</html>