{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  	<p>Follow me to get website update information:  TwitBank4Bernie. I'll let you know when we have state-specific action items or better search tools.</p>

  	<p>Start tweeting!</p>

  	{% for tweets in follower_tweets %}
	  	{{ tweets.0 |safe }}
	  	<p>Give them voting information:  <a class="twitter-share-button" href="{{ tweets.1 }}">{{ Tweet }}</a></p>
	  	<p>Ask them to help TwitBank:  <a class="twitter-share-button" href="{{ tweets.2 }}">{{ Tweet }}</a></p>
  	{% endfor %}
   
  	<p><a id="logout" href="/accounts/logout" class="btn btn-success">Logout</a></p>

		<script>window.twttr = (function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0],
		    t = window.twttr || {};
		  if (d.getElementById(id)) return t;
		  js = d.createElement(s);
		  js.id = id;
		  js.src = "https://platform.twitter.com/widgets.js";
		  fjs.parentNode.insertBefore(js, fjs);
		 
		  t._e = [];
		  t.ready = function(f) {
		    t._e.push(f);
		  };
		 
		  return t;
		}(document, "script", "twitter-wjs"));</script>

  {% else %}
    <p>Sign in with Twitter</p>

	  <p>We'll find people you follow who use Bernie Sanders hashtags</p>

	  <p>Tweet at them or send them a direct message to be sure they know how to vote for Bernie
  	
  	{% load socialaccount %}
  	<p><a href="{% provider_login_url "twitter" %}">Twitter</a></p>
  {% endif %}


{% endblock %}